schema/index.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
	targetNamespace="https://wordpress.org/data/"
	xmlns="https://wordpress.org/data/"
	elementFormDefault="qualified">

	<xs:element name="data">
		<xs:complexType>
			<xs:sequence>
				<xs:element name="object" minOccurs="0" maxOccurs="unbounded" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:complexType name="definedObject" abstract="true">
		<xs:attribute name="id" type="xs:positiveInteger" use="required" />
	</xs:complexType>
</xs:schema>